<p id="notice"><%= notice %></p>

<h2 id="physician_h2">
  <strong><%= @physician.name %></strong>
</h2>

<h3 id="physician_headers">
  <strong>Specialty:
  <%= @physician.specialty %></strong>
</h3>

<hr>
<h3 id = "physician_headers">Office Locations</h3>
<div id = "table_id">
<table id = "physicians_show_table">
  <tbody>
  <tr>
    <th>Street address</th>
    <th>Zip code</th>
    <th>Phone</th>
  </tr>

  <% @physician.offices.each do |physician| %>
    <tr>
      <td><%=physician.street_address %></td>
      <td><%=physician.zip_code %></td>
      <td><%=physician.phone %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>


<h3 id="physician_headers">Current Appointments</h3>
<div id = "table_id">
<table id="physicians_show_table">
  <tbody>
  <tr>
    <th>Patient Name</th>
    <th>Date of Appointment</th>
  </tr>


  <% @physician.appointments.each do |physician| %>
    <tr>
      <td><%= physician.patient.name %></td>
      <td><%= physician.visit.to_formatted_s(:long_ordinal) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
